<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <base href="/">
    <link rel="icon" type="image/x-icon" href="~/Scripts/Projects/ClientApp/favicon.ico">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body>
    @*<h2 class="bg-dark text-white p-2">SportStore</h2>*@
    @RenderBody()
    @RenderSection("Scripts", false)
</body>
</html>
