
@{
    Layout = null;
}

<!DOCTYPE html>
@using System.Web.Optimization;

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <base href="/">
    <link rel="icon" type="image/x-icon" href="~/Scripts/Projects/ClientApp/favicon.ico">

</head>
<body>
    <app-root></app-root>
    @Scripts.Render("~/Script/Bundles")
</body>
</html>
